@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-size: 24px;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 15px;
  color: #a16c43;
}

.navbar {
  padding: 15px 15px;
  background-color: black;
}

.about-us {
  padding-top: 100px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 10px;
}

footer {
  background-color: #343a40;
  color: white;
}

header {
  width: 100%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.header-content {
  width: min(37.5em, 90%);
  margin-top: 5em;
  position: relative;
  z-index: 10;
}

.header-content span {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
  font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}

.header-content h1 {
  font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2rem);
  font-weight: 700;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 75em;
  margin-inline: auto;
  gap: 0.938rem;
  transform: translateY(-3em);
  position: relative;
  z-index: 10;
}

.card {
  padding: 1.875em 1.25em;
  max-width: 18.75rem;
  width: 90%;
  height: 16.875rem;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  position: relative;
}

.card img {
  border-radius: 50%;
  width: clamp(100px, 40vw, 120px);
  height: clamp(100px, 40vw, 120px);
  object-fit: cover;
  object-position: top;
}

.card h2 {
  color: #fff;
  letter-spacing: 0.05rem;
  font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
  margin-top: 0.625em;
  margin-bottom: 0.188em;
}

.card p {
  color: #afafaf;
  font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
}
